*.swp
.coveralls.yml
.git
.idea
CODE_OF_CONDUCT.html
README*.html
build
coverage
css/vendor
doc/*.html
font/vendor
img/vendor
js/vendor
node_modules
npm-debug.log
lib/xhi_state.json
package-lock.json

