*.swp
.coveralls.yml
.git
.idea
CODE_OF_CONDUCT.html
README*.html
build
coverage
css/vendor
doc/*.html
font/vendor
img/vendor
index.html
js/vendor
lib/xhi_state.json
node_modules
npm-debug.log
package-lock.json

